@import 'tailwindcss';

@theme {
  --color-background: #ffffff;
  --color-foreground: #09090b;

  --color-primary: #292524;
  --color-primary-foreground: #fafaf9;

  --color-background: #ffffff;
  --color-foreground: #1c1917;

  --color-muted: #f5f5f4;
  --color-muted-foreground: #78716c;

  --color-border: #e7e5e4;
  --color-input: #e7e5e4;

  --color-accent: #fafaf9;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    display: flex;
    flex-direction: column;
  }
}
